 #map {
     height: 100%;
      }
html, body {
    height: 100%;
    overflow-x: hidden;
    width: 100%;
}
.center {
    text-align: center;
}
.bordure {
    margin-left: 2px;
    margin-right: 2px;
}
.col-xs-3 {
    padding-right: 0;
    padding-left: 0;
}